{%load static%}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Voice comments</title>
</head>
<body style="background-color: gray;">
    <script src="{%static 'recog.js'%}"></script>
    <script src="{%static 'tts.js'%}"></script>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <audio tabindex="0" id="news-speaker" controls preload="auto" >
    <source src="">
</audio>
<audio tabindex="0" id="music-speaker" controls preload="auto" >
  <source src="">
</audio>
</body>
</html>